body{
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}
.header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.header ul{
    display:flex;
    list-style: none;
    gap: 16px;
}
.header p{
    margin-left: 100px;
}
/* Header */
/* Main */
.main{
    display:flex;
    background-color: #1F2937;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main h1{
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}
.p{
    font-size: 18px;
    color: #E5E7EB;
}
.column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
}
.imagen{
    width: 300px;
    height: 300px;
}
.button{
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 10px 30px;
    color: #E5E7EB;
    text-decoration: none;
    border:none;
    border-radius: 12.5%;
    font-weight: 600;
    margin: 30px
}

/* Main */
.h2{
    font-size: 36px;
    color:#1F2937;
    font-weight: 800;
    text-align: center;
}
/* Seccion */
.seccion{
    display:flex;
    justify-content: center;
    gap:30px;
}
.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contenedor img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: solid 2px;
    border-color: #3882F6;
}
.seccion .div{
    display:flex;
    flex-flow: row nowrap;
    gap:60px;
}
.contenedor p{
    text-align: center;
}
.div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contenedor{
    width: 150px;
    display:flex;
    align-content: center;
}
/* Seccion */