/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}
.header a{
    text-decoration: none;
    color:#F9FAF8;
}
.header ul{
    display:flex;
    list-style: none;
    gap: 16px;
}
/* Header */