body{
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 40px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}
.header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.header ul{
    display:flex;
    list-style: none;
    gap: 16px;
}
.header p{
    margin-left: 100px;
}
/* Header */

/* Main */
.main{
    display:flex;
    background-color: #1F2937;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main h1{
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}
.p{
    font-size: 18px;
    color: #E5E7EB;
}
.column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
}
.imagen{
    width: 300px;
    height: 300px;
}
.button{
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 10px 30px;
    color: #E5E7EB;
    text-decoration: none;
    border:none;
    border-radius: 15px;
    font-weight: 600;
    margin: 30px;
    border: 2px solid #3882F6;
}

.button:hover{
    background-color: #1F2937;
}
/* Main */
.h2{
    font-size: 36px;
    color:#1F2937;
    font-weight: 800;
    text-align: center;
}
/* Seccion */
.seccion{
    display:flex;
    justify-content: center;
    gap:30px;
}
.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contenedor img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: solid 2px;
    border-color: #3882F6;
}
.seccion .div{
    display:flex;
    flex-flow: row nowrap;
    gap:60px;
}
.contenedor p{
    text-align: center;
}
.div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contenedor{
    width: 150px;
    display:flex;
    align-content: center;
}
/* Seccion */
/* cita */
.cita{
    background-color: #E5E7EB;
    display:flex;
    padding: 150px;
    justify-content: center;
    align-items:center;
}
.cita i{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 60%;
    text-align: start;
}
i p{
    text-align: end;
    font-weight: 600;
}
/* cita */
/* signUp */
.signUp{
    display:flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    margin:200px;
    border-radius: 25px;
    padding: 25px 150px;
}
.signUp .column{
    display:flex;
    text-align: start;
    width: auto;
    height: auto;
    margin:-15px;
    gap: 10px;
}
.column h3{
    text-align: start;
    align-self: flex-start;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0;
    padding: 0;
} 
.column p{
    color:#E5E7EB;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.signUp .button{
    border: solid 2px #E5E7EB;
}
.signUp .button:hover{
    background-color: #E5E7EB;
    color: #1F2937;
}

/* signUp */